
.banner{
    width: 1440px;
    height: 605px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, .6)), url(./images/banner.png);
    border-bottom: 1px solid #33A8DB;
}

.banner-content{
    width: 1440px;
    height: 605px;
    
    
}

/*
    
    
    
    */